@font-face {
	font-family: 'Graphik LCG';
	src: url('fonts/GraphikLCG-Medium.woff2') format('woff2'),
		url('fonts/GraphikLCG-Medium.woff') format('woff');
	font-display: swap;
	font-weight: 500;
	font-style: normal;
}

@font-face {
	font-family: 'Gilroy';
	src: url('fonts/Gilroy-Regular.woff2') format('woff2'),
		url('fonts/Gilroy-Regular.woff') format('woff');
	font-display: swap;
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'Gilroy';
	src: url('fonts/Gilroy-ExtraBold.woff2') format('woff2'),
		url('fonts/Gilroy-ExtraBold.woff') format('woff');
	font-display: swap;
	font-weight: 800;
	font-style: normal;
}

@font-face {
	font-family: 'Gilroy';
	src: url('fonts/Gilroy-Medium.woff2') format('woff2'),
		url('fonts/Gilroy-Medium.woff') format('woff');
	font-display: swap;
	font-weight: 500;
	font-style: normal;
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Gilroy', sans-serif;
}

a {
    text-decoration: none;

    color: inherit;
}

.main-content {
    display: flex;
    flex-direction: column;

    height: 100vh;

    background-color: #222020;

    justify-content: center;
    align-items: center;
}

.main-content-heading {
    font-family: 'Graphik LCG', sans-serif;

    margin: 0 0 30px 0;

    color: #fff;
}

.download-course-program {
    display: inline-block;

    margin: 0 10px 0 0;
    padding: 20px;

    color: #fff;
    border: 3px solid #2f1ce4;
    background-color: #2f1ce4;
}

.about-course-anchor {
    display: inline-block;

    padding: 20px;

    color: #fff;
    border: 3px solid #fff;
}

.container {
    width: 1170px;
    margin: 0 auto;
    padding: 30px 0 30px 0;
}

.position-relative{
    position: relative;
}

.main-heading {
    font-size: 48px;

    margin: 100px 0 0 0;
    padding: 0 0 0 100px;

    color: #222020;

 

}

.return-anchor {
    padding: 0 0 0 45px;

    background-image: url(../img/return.png);
    background-repeat: no-repeat;
    background-position: left center;
    background-size: 25px auto;
}


.table-anchor {
        color: -webkit-link;
        cursor: pointer;
        text-decoration: underline;
}



.section-heading {
    font-size: 36px;

    margin: 100px 0 25px 0;
    padding: 0 0 0 180px;

    color: #2f1ce4;
}

.course-about,
.course-summary,
.course-program {
    font-size: 18px;

    width: 1150px;
}


/* теги для секции о курсе */

.list {
    font-size: 18px;

    padding: 0 0 0 200px;
}

.paragraph {
    margin: 20px 0 0 0;
    padding: 0 0 0 180px;
}

.picture-block {
    display: block;

    margin: 50px auto;
    padding: 0 0 0 200px;

    text-align: center;
}
.picture-block-img {
    max-width: 400px;

}


/* теги для таблицы */
.table-block {
    margin-top: 100px;
}

.table-caption {
    padding: 20px;
}

.table-tags {
    border-collapse: collapse;

    border: 1px solid #a0a0a0;
}

.table-item,
.table-item-final {
    padding: 10px;

    border: 1px solid #a0a0a0;
}

.table-item-final {
    color: #2f1ce4;
}


/* стили для модулей */

.index-anchor {
    display: block;
    font-size: 40px;
    font-family: 'Graphik LCG', sans-serif;
    font-weight: bold;
    margin-bottom: 20px;
}


.modules-heading {
    margin-bottom: 90px;
    font-weight: bold;
}

.card {
    display: inline-block;
    width: 45%;
    /* по шаблону карточки одинакового размера, контент у них разный
    подозреваю, что явное указане высоты - не оч хорошо
    как сделать их одинаковый высоты несмотря на контент, не знаю:((*/
    height: 500px;
    border: 1px solid #000;
    margin-bottom: 60px;
    vertical-align: middle;
    position: relative;
  }
  
  .number {
    position: absolute;
    right: 20px;
    bottom: 20px;
    font-size: 48px;
    color: #eaeaea;
  }
  
  .module-card {
    width: 1170px; /* для примера */
    margin: 0 auto;
  }
  
  .right {
    margin-left: 5%;
  }
  

  .card-img {
      width: 100%;
  }

  .card-heading{
      font-size: 36px;
      margin: 30px 50px;
      color: #2f1ce4;
  }

  .card-list{
      display: block;
      font-size: 16px;
      margin-top: 30px;    
  }

  .card-list li{
    font-size: 16px;
    margin-left: 50px;
    margin-bottom: 15px;
    list-style-type: none;
  }

.button-container{
    text-align: center;
}

  .card-more-button {
    display: inline-block;
    margin: 40px 0 auto;
    padding: 30px 80px;

    color: #2f1ce4;;
    border: 3px solid #2f1ce4;
}

.shadow {
    box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
} 

/* footer{
    position: relative;
    height: 310px;
    background: url(../img/footer.png); 
    clear: both;
} */

footer{
    margin-top: 400px;
}

footer img{
    position: absolute;
	left: 0;
	bottom: 0;
    width: 100%;
}